absl-py
aiohttp
aiosignal
async-timeout
attrs
blinker==1.4
brotlipy
cachetools
certifi==2022.6.15
cffi
charset-normalizer
click
colorama
cryptography
cycler==0.11.0
docopt==0.6.2
et-xmlfile==1.1.0
fonttools==4.34.4
frozenlist
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
kiwisolver==1.4.4
Markdown
MarkupSafe
matplotlib==3.5.2
multidict
numpy==1.23.1
oauthlib
opencv-contrib-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
Pillow
pipreqs==0.4.11
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
PyJWT
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil==2.8.2
pytz==2022.1
pyu2f
requests
requests-oauthlib
rsa
scipy==1.8.1
seaborn==0.11.2
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
torch==1.12.0
torch-tb-profiler==0.4.0
torchaudio==0.12.0
torchsample
torchvision==0.13.0
typing_extensions
urllib3
Werkzeug 
win-inet-pton
wincertstore==0.2
yarg==0.1.9
yarl
zipp
